*.o
.*.swp
.*.swo
.*.P
*build
*dist
*rabbit.egg-info
data/*
osdi-ae-graphs/*
*.pyc
*pycache*
*.egg-info
*.vscode
*.tar.gz
osdi-ae-graphs-mtx/*
osdi-ae-graphs-mtx.tar.gz
*.log
*.csv
cmake-3.16.5
*__pycache__*